body {
  background-image: url(https://hdqwalls.com/download/mount-erebus-on-antarctica-sd-1920x1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}